@page
@using PoundPupLegacy.ViewModel;
@using Microsoft.AspNetCore.Html;
@model PoundPupLegacy.Web.Pages.BlogPostModel

@if (Model.BlogPost is not null)
{
    <div class="breadcrum">
        <a href="/home">Home</a> > <a href="/blogs">Blogs</a> > <a href="/blog/@Model.BlogPost.Value.Author.Id">@Model.BlogPost.Value.Author.Name</a>
    </div>
    <article>
        <div class="title">
            <h1>@Model.BlogPost.Value.Title</h1>
        </div>
        <div class="author">
            by <span class="name"><a href="/access_role/@Model.BlogPost.Value.Author.Id">@Model.BlogPost.Value.Author.Name</a></span> on <span class="date">@Model.BlogPost.Value.CreatedDateTime.ToString("dddd, dd MMMM yyyy")</span>
        </div>
        <div class="large-text">
            @if (Model.BlogPost.Value.SeeAlsoBoxElements is not null)
            {
                <div class="see-also-box">
                    <t2>See also</t2>
                    <ul>

                        @foreach (var elem in Model.BlogPost.Value.SeeAlsoBoxElements)
                        {
                            <li><a href="/node/@elem.Id">@elem.Name</a></li>
                        }
                    </ul>
                </div>

            }
            <div class="text">
                @Html.Raw(@Model.BlogPost.Value.Text.Replace(@"href=""http://poundpuplegacy.org", @"href="""))
            </div>
        </div>
        <div class="tags">
            @foreach (var tag in Model.BlogPost.Value.Tags)
            {
                <span class="tag"><a href="/node/@tag.Id">@tag.Name</a></span>
            }
        </div>
        @if (@Model.BlogPost.Value.Comments is not null)
        {
            <div class="comments">
                @foreach (var comment in @Model.BlogPost.Value.Comments)
                {
                    RenderComment(comment);
                }
            </div>
        }

    </article>
   
}
@{
    Layout = "_MainLayout";

}
@functions {
    public void RenderComment(Comment comment)
    {
        var commentClassName = comment.NodeStatusId == 1 ? "comment comment-unpublished" : "comment";
        <div class="@commentClassName">
            @if (comment.NodeStatusId == 1)
            {
                <div class="watermark-inner">
                    <div class="watermark-body">Unpublished</div>
                </div>
            }
            <div class="comment-body">
                <div class="title">
                    <h2>@comment.Title</h2>
                </div>
                <div class="comment-content">
                    @if(comment.Author.Id != 0){
                        <div class="author">
                            by <span class="name"><a href="/access_role/@comment.Author.Id">@comment.Author.Name</a></span>
                            on <span class="date">@comment.CreatedDateTime.ToString("dddd, dd MMMM yyyy")</span>
                        </div>
                        }
                    @if (comment.Author.Id == 0)
                    {
                        <div class="author">
                            by <span class="name"><em>@comment.Author.Name</em></span>
                            on <span class="date">@comment.CreatedDateTime.ToString("dddd, dd MMMM yyyy")</span>
                        </div>
                    }


                    <div class="text">
                        @Html.Raw(comment.Text.Replace(@"href=""http://poundpuplegacy.org", @"href="""))
                    </div>
                </div>
            </div>
            @if (comment.Comments is not null)
            {
                <div class="comments">
                    @foreach (var child in comment.Comments)
                    {
                        RenderComment(child);
                    }
                </div>
            }
        </div>
    }
 }
