@using PoundPupLegacy.ViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Country

<img src="@Model.FlagPath" style="width: auto;height:2em;margin-bottom:0.5em;border: solid 1px #aaa">
@if(Model is TopLevelCountry topLevelCountry)
{
    <div>
        <label>ISO 3166-1 code</label>
        @topLevelCountry.ISO3166_1_Code
    </div>
    <div>
        <label>Region</label>
        <a href="@topLevelCountry.GlobalRegion.Path">@topLevelCountry.GlobalRegion.Name</a>
    </div>
}
@if (Model.SubdivisionTypes is not null)
{
    <partial name="_SubdivisionTypes" model="@Model.SubdivisionTypes" />
}
@if (Model.OrganizationTypes is not null)
{
    <partial name="_OrganizationTypesWithOrganizations" model="@Model.OrganizationTypes" />
}
@if (Model.Documents is not null)
{
    <partial name="_Documents" model="@Model.Documents" />
}
@if (Model.AdoptionImports is not null)
{
    <partial name="_AdoptionImports" model="@Model.AdoptionImports" />
}

