@using PoundPupLegacy.ViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Organization



<div class="text">
    @Html.Raw(Model.Description.Replace(@"href=""http://poundpuplegacy.org", @"href="""))
</div>
@if(Model.WebsiteUrl is not null)
{
    <div>
    <label>Website: </label>
    @Model.WebsiteUrl
    </div>
    
}
@if (Model.EmailAddress is not null)
{
    <div>
        <label>Email: </label>
        @Model.EmailAddress
    </div>
}
@if (Model.Established.HasValue)
{
    <div>
        <label>Established: </label>
        @Model.Established.Value.ToString("yyyy MMMM dd")
    </div>
}
@if (Model.Terminated.HasValue)
{
    <div>
    <label>Terminated: </label>
        @Model.Terminated.Value.ToString("yyyy MMMM dd")
    </div>
}
<partial name="_OrganizationTypes" model="@Model.OrganizationTypes" />
<partial name="_PartyCaseType" model="@Model.PartyCaseTypes" />
<partial name="_PersonOrganizationRelations" model="@Model.PersonOrganizationRelations" />
<partial name="_InterOrganizationalRelations" model="@Model.InterOrganizationalRelations" />
<partial name="_PartyPoliticalEntityRelations" model="@Model.PartyPoliticalEntityRelations" />
<partial name="_Documents" model="@Model.Documents" />
<partial name="_Locations" model="@Model.Locations" />

