@using PoundPupLegacy.ViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Organization



<div class="text">
    @Html.Raw(Model.Description.Replace(@"href=""http://poundpuplegacy.org", @"href="""))
</div>
<div>
    @Model.WebsiteUrl
</div>
<div>
    @Model.EmailAddress
</div>
<partial name="_OrganizationTypes" model="@Model.OrganizationTypes" />
<partial name="_PartyCaseType" model="@Model.PartyCaseTypes" />
<partial name="_PersonOrganizationRelations" model="@Model.PersonOrganizationRelations" />
<partial name="_InterOrganizationalRelations" model="@Model.InterOrganizationalRelations" />
<partial name="_PartyPoliticalEntityRelations" model="@Model.PartyPoliticalEntityRelations" />
<partial name="_Documents" model="@Model.Documents" />
<partial name="_Locations" model="@Model.Locations" />

