@using PoundPupLegacy.ViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Person


@if(Model.PortraitFilePath != null)
{
    <img src="@Model.PortraitFilePath" alt="@Model.FullName" />
}
@if(Model.FirstName is not null)
{
    <div>
        <label>First name: </label>
        @Model.FirstName
    </div>
}
@if(Model.MiddleName is not null)
{
    <div>
        <label>Middle name: </label>
        @Model.MiddleName
    </div>

}
@if(Model.LastName is not null)
{
    <div>
        <label>Last name: </label>
        @Model.LastName
    </div>
}
@if (Model.Suffix is not null)
{
    <div>
        <label>Suffix: </label>
        @Model.Suffix
    </div>

}
@if (Model.FullName is not null)
{
    <div>
        <label>Full name: </label>
        @Model.FullName
    </div>
}
@if(Model.Suffix is not null)
{
    <div>
        <label>Suffix: </label>
        @Model.Suffix
    </div>
}
@if (Model.DateOfBirth.HasValue)
{
    <div>
        <label>Date of birth: </label>
        @Model.DateOfBirth.Value.ToString("yyyy MMMM dd")
    </div>
}
@if(Model.DateOfDeath.HasValue)
{
    <div>
        <label>Date of death: </label>
        @Model.DateOfDeath.Value.ToString("yyyy MMMM dd")
    </div>
}
<div class="text">
    @Html.Raw(Model.Description.Replace(@"href=""http://poundpuplegacy.org", @"href="""))
</div>
<partial name="_Professions" model="@Model.Professions" />
<partial name="_PartyCaseType" model="@Model.PartyCaseTypes" />
<partial name="_OrganizationPersonRelations" model="@Model.OrganizationPersonRelations" />
<partial name="_InterPersonalRelations" model="@Model.InterPersonalRelations" />
<partial name="_PartyPoliticalEntityRelations" model="@Model.PartyPoliticalEntityRelations" />
<partial name="_Documents" model="@Model.Documents" />
<partial name="_Locations" model="@Model.Locations" />

