@using PoundPupLegacy.EditModel;
@using PoundPupLegacy.Services;
@inject IHttpContextAccessor httpContextAccessor;
@inject IEditorService editorService;
@inject ILogger<ArticleCreator> logger;
@inject NavigationManager navigationManager;
@inject IJSRuntime JSRuntime

@{
    var url = $"https://{httpContextAccessor.HttpContext!.Request.Host.Value}/image/upload";
}

@if (article is not null)
{
    <style>
        .title-editor {
            width: 100%;
            font-size: 2em;
            font-weight: bold;
            border: none;
            border-bottom: 1px solid black;
            padding: 0.5em;
            margin-bottom: 1em;
        }
    </style>
    <EditForm Model="@article" OnSubmit="@HandleSubmit">
        <InputText class="title-editor" id="name" @bind-Value="article.Title" />
        <CKEditor Id="#editor"
              @bind-Value=@article.Text
            UrlToPostImage=@url>
        </CKEditor>
        <Tags Elems="@article.Tags" NodeId="@article.NodeId" TenantId="@TenantId"/>
        <TenantNodesEditor  Node="@article" TenantId="@TenantId"/>
        <AttachmentEditor Files="article.Files" NodeId="null"/>
        <button type="submit">Submit</button>
    </EditForm>
}
@code {
    Article? article;

    [Parameter]
    public int UserId { get; set; }

    [Parameter]
    public int TenantId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        article = await editorService.GetNewArticle(UserId, TenantId);
    }

    private async Task HandleSubmit()
    {
        logger.LogInformation(article!.ToString());
        await editorService.Save(article);
        await JSRuntime.InvokeVoidAsync("reloadNode", article.UrlId);
    }

}
