@using PoundPupLegacy.EditModel;
@using PoundPupLegacy.Services;
@inject IEditorService editorService;
@inject ILogger<ArticleEditor> logger;
@inject NavigationManager navigationManager;
@inject IJSRuntime JSRuntime


@if (article is not null)
{
    <style>
        .title-editor {
            width: 100%;
            font-size: 2em;
            font-weight: bold;
            border: none;
            border-bottom: 1px solid black;
            padding: 0.5em;
            margin-bottom: 1em;
        }
    </style>
    <EditForm Model="@article" OnSubmit="@HandleSubmit">
        <InputText class="title-editor" id="name" @bind-Value="article.Title" />
        <CKEditor Id="#editor"
              @bind-Value=@article.Text
            UrlToPostImage=@url>
        </CKEditor>
        <Tags Elems="@article.Tags" NodeId="@article.NodeId" TenantId="@TenantId" />
        <TenantNodesEditor  Node="@article" />
        <AttachmentEditor Files="article.Files" NodeId="article.NodeId"/>
        <button type="submit">Submit</button>
    </EditForm>
    
}
@code {
    Article? article;

    string url = "";

    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public int UserId { get; set; }

    [Parameter]
    public int TenantId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        url = $"{navigationManager.BaseUri}image/upload";
        article = await editorService.GetArticle(Id, UserId, TenantId);
        foreach(var tenant in article!.Tenants) 
        {
            var tenantNode = article.TenantNodes.FirstOrDefault(x => x.TenantId == tenant.Id);
            tenant.TenantNode = tenantNode;
        }
    }

    private async Task HandleSubmit()
    {
        logger.LogInformation(article!.ToString());
        await editorService.Save(article);
        await JSRuntime.InvokeVoidAsync("reloadNode", article.UrlId);
    }

}
