@using PoundPupLegacy.ViewModel.Models
@if (@Model.Id != 0)
{
    <div class="author">
        by <span class="name"><a href="/user/@Model.Id">@Model.Name</a></span>
        on <span class="date">@Model.CreatedDateTime.ToString("dddd, dd MMMM yyyy")</span>
    </div>
}
@if (Model.Id == 0)
{
    <div class="author">
        by <span class="name"><em>@Model.Name</em></span>
        on <span class="date">@Model.CreatedDateTime.ToString("dddd, dd MMMM yyyy")</span>
    </div>
}
@code{
    [Parameter]
    [EditorRequired]
    public required Authoring Model { get; init; }
}