@using PoundPupLegacy.Services
@using PoundPupLegacy.ViewModel.Models
@inherits PagedViewer
@inject IFetchBlogService FetchBlogService;

@if (Model is not null)
{
    <div class="blog-list">
        <div class="breadcrum">
            <span class="breadcrum-element">
                <a href="/blogs">blogs</a>
            </span>
        </div>
        <article>
            <h1>
                @Model.Name
            </h1>
            <div class="blog-teasers">
                @foreach (var entry in Model.BlogPostTeasers)
                {

                    <div class="blog-teaser">
                        <h2>
                            <a href="/node/@entry.Id">@entry.Title</a>
                        </h2>
                        <partial name="~/Views/Shared/_Authoring.cshtml" model="@entry.Authoring" />
                        @((MarkupString)entry.Text)
                    </div>
                }
            </div>
            <Pager Model="@PagedList" />
        </article>
    </div>
    
}
@code{
    [Parameter]
    public int Id { get; set; }

    private Blog? Model { get; set; }

    protected override int PageSize => 10;

    protected override async Task OnInitializedPagedAsync()
    {
        Model = await FetchBlogService.FetchBlog(Id, TenantId, PagedList.PageNumber, PagedList.PageSize);
    }
}
