@using PoundPupLegacy.EditModel;
@using PoundPupLegacy.Services;
@inject IEditorService editorService;
@inject ILogger<DiscussionCreator> logger;
@inject NavigationManager navigationManager;
@inject IJSRuntime JSRuntime

@if (discussion is not null)
{
    <style>
        .title-editor {
            width: 100%;
            font-size: 2em;
            font-weight: bold;
            border: none;
            border-bottom: 1px solid black;
            padding: 0.5em;
            margin-bottom: 1em;
        }
    </style>
    <EditForm Model="@discussion" OnSubmit="@HandleSubmit">
        <InputText class="title-editor" id="name" @bind-Value="discussion.Title" />
        <CKEditor Id="#editor"
              @bind-Value=@discussion.Text
            UrlToPostImage=@url>
        </CKEditor>
        <Tags Elems="@discussion.Tags" NodeId="@discussion.NodeId" TenantId="@TenantId" />
        <TenantNodesEditor Node="@discussion" TenantId="@TenantId" />
        <AttachmentEditor Files="discussion.Files" NodeId="null"/>
        <button type="submit">Submit</button>
    </EditForm>
}
@code {
    Discussion? discussion;

    string url = "";

    [Parameter]
    public int UserId { get; set; }

    [Parameter]
    public int TenantId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        url = $"{navigationManager.BaseUri}image/upload";
        discussion = await editorService.GetNewDiscussion(UserId, TenantId);
    }

    private async Task HandleSubmit()
    {
        logger.LogInformation(discussion!.ToString());
        await editorService.Save(discussion);
        await JSRuntime.InvokeVoidAsync("reloadNode", discussion.UrlId);
    }

}
