@using PoundPupLegacy.EditModel
@if (Location is not null) {
    <div class="location" style="display:grid;grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 3em">
        <div>@Location.Street</div>
        <div>@Location.Addition</div>
        <div>@Location.PostalCode</div>
        <div>@Location.City</div>
        <div>@Location.SubdivisionName</div>
        <div>@Location.CountryName</div>
        <div><button>Edit</button></div>
    </div>
}

@code {

    [Parameter]
    public Location? Location { get; set; }

    [Parameter]
    public List<CountryListItem> Countries { get; set; } = new List<CountryListItem>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}
