@using Microsoft.AspNetCore.WebUtilities
@using PoundPupLegacy.Services
@using PoundPupLegacy.ViewModel.Models
@inherits PagedSearchViewer
@inject IFetchOrganizationsService FetchOrganizationsService
@inject NavigationManager NavigationManager
@if(Model is not null){

    <div class="articles">
        <div class="breadcrum">
            <span class="breadcrum-element">
                <a href="/home">home</a>
            </span>
        </div>
        <form>
            <select name="country">
                <option value="0"></option>
                @foreach (var country in Countries)
                {
                    if (country.Selected)
                    {
                        <option value="@country.Id" selected>@country.Name</option>
                    }
                    else
                    {
                        <option value="@country.Id">@country.Name</option>
                    }
                
                }
            </select>
            <select name="organization_type">
                <option value="0"></option>
                @foreach (var organizationType in OrganizationTypes)
                {
                    if (organizationType.Selected)
                    {
                        <option value="@organizationType.Id" selected>@organizationType.Name</option>
                    }
                    else
                    {
                        <option value="@organizationType.Id">@organizationType.Name</option>
                    }
                
                }
            </select>
            <select name="search_option">
                @if (PagedList.SearchOption == SearchOption.Contains)
                {
                    <option value="contains" selected>contains</option>
                }
                else
                {
                    <option value="contains">contains</option>
                }
                @if (PagedList.SearchOption == SearchOption.IsEqualTo) {
                    <option value="is_equal_to" selected>is equal to</option>
                }
                else
                {
                    <option value="is_equal_to">is equal to</option>
                }
                @if (PagedList.SearchOption == SearchOption.StartsWith) {
                    <option value="starts_with" selected>starts with</option>
                }
                else
                {
                    <option value="starts_with">starts with</option>
                }
                @if (PagedList.SearchOption == SearchOption.EndsWith) {

                    <option value="ends_with" selected>ends with</option>
                }
                else
                {
                    <option value="ends_with">ends with</option>
                }
            </select>
            <input type="text" name="search_term" value="@PagedList.SearchTerm" />
            <input type="submit" value="Search" />
        </form>
        @if (Model.Entries.Any())
        {
            @foreach (var organization in Model.Entries)
            {
                <div>
                    <a href="@organization.Path">@organization.Title</a>
                </div>
            }
            <Pager Model="PagedList" />
        }
        else
        {
            <p>No organizations were found</p>
    
        }
    </div>
}
@code {

    protected override int PageSize => 50;

    private int? OrganizationTypeId { get; set; }

    private int? CountryId { get; set; }

    private Organizations? Model { get; set; }

    private SelectionItem[] Countries = Array.Empty<SelectionItem>();
    private SelectionItem[] OrganizationTypes = Array.Empty<SelectionItem>();

    protected override async Task OnInitializedPagedSearchAsync()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("country", out var countryIdValue)) {
            if (int.TryParse(countryIdValue, out int providedCountryId)) {
                CountryId = providedCountryId;
                if(PagedList.QueryString == string.Empty) {
                    PagedList.QueryString = $"country={providedCountryId}";
                }
                else {
                    PagedList.QueryString = $"{PagedList.QueryString}&country={providedCountryId}";
                }
            }
        }
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("organization_type", out var organizationTypeIdValue)) {
            if (int.TryParse(organizationTypeIdValue, out int providedOrganizationTypeId)) {
                OrganizationTypeId = providedOrganizationTypeId;
                if (PagedList.QueryString == string.Empty) {
                    PagedList.QueryString = $"organization_type={providedOrganizationTypeId}";
                }
                else {
                    PagedList.QueryString = $"{PagedList.QueryString}&organization_type={providedOrganizationTypeId}";
                }
            }
        }
        
        var organizationSearch = await FetchOrganizationsService.FetchOrganizations(UserId, TenantId, PagedList.PageSize, PagedList.PageNumber, PagedList.SearchTerm, PagedList.SearchOption, OrganizationTypeId, CountryId);
        Model = organizationSearch.Organizations;
        foreach (var country in organizationSearch.Countries) {
            if (country.Id == CountryId) {
                country.Selected = true;
                continue;
            }
            country.Selected = false;
        }
        Countries = organizationSearch.Countries;
        foreach (var organizationType in organizationSearch.OrganizationTypes) {
            if (organizationType.Id == OrganizationTypeId) {
                organizationType.Selected = true;
                continue;
            }
            organizationType.Selected = false;
        }
        OrganizationTypes = organizationSearch.OrganizationTypes;

    }
}
