@using PoundPupLegacy.ViewModel.Models
@if (Model.Any())
{

    <h3>Organizations</h3>
    <table class="organization-person-relations" style="width:100%;">
        <tr>
            <th>Organization</th>
            <th>Relation type</th>
            <th>Date from</th>
            <th>Date to</th>
        </tr>
        @foreach (var relation in Model.OrderBy(x => x.RelationTypeName).ThenBy( x=> x.Organization.Title))
        {
            <tr>
                <td><a href="@relation.Organization.Path">@relation.Organization.Title</a></td>
                <td>@relation.RelationTypeName</td>
                <td>@relation.DateFrom?.ToString("yyyy MMMM dd")</td>
                <td>@relation.DateTo?.ToString("yyyy MMMM dd")</td>
            </tr>
        }
    </table>
}
@code{
    [Parameter]
    [EditorRequired]
    public required IEnumerable<OrganizationPersonRelation> Model { get; init; }
}