@using PoundPupLegacy.ViewModel.Models
@if (Model is not null && Model.Any())
{
    <h3>Relations to geographical entities</h3>
    <table class="political_entity_relations" style="width:100%">
        <tr>
            <th>Party</th>
            <th>Relation Type</th>
            <th>Political Entity</th>
            <th>Date From</th>
            <th>Date To</th>
        </tr>
        @foreach (var relation in Model.OrderBy(x => x.DateFrom))
        {
          <tr>
                <td>
                    <a href="@relation.Party.Path">@relation.Party.Title</a>
                </td>

                <td>
                    <a href="@relation.PartyPoliticalEntityRelationType.Path">@relation.PartyPoliticalEntityRelationType.Title</a>
                </td>
                <td>
                  <a href="@relation.PoliticalEntity.Path">@relation.PoliticalEntity.Title</a>
              </td>
              <td>
                        @relation.DateFrom?.ToString("yyyy MMMM dd")
              </td>
                <td>
                        @relation.DateTo?.ToString("yyyy MMMM dd")
                </td>
            </tr>
        }
    </table>
}
@code{
    [Parameter]
    [EditorRequired]
    public IEnumerable<PartyPoliticalEntityRelation>? Model { get; set; }
}