@using PoundPupLegacy.ViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Node
@{
    var ModelClassName = Model.HasBeenPublished ? "node" : "node node-unpublished";
    <div class="article-with-comments @ModelClassName">

        
        <partial name="_BreadCrumElement" model="@Model.BreadCrumElements" />
        @if (!Model.HasBeenPublished)
        {
            <div class="watermark">Unpublished</div>
        }
        <article>
            <div class="title">
                <h1>@Model.Title</h1>
            </div>
            <partial name="~/Views/Shared/_Authoring.cshtml" model="@Model.Authoring">
                @if (Model is SimpleTextNode simpleTextNode)
                {
                    <partial name="_SimpleTextNode" model="@simpleTextNode" />
                }
                @if(Model is Country country)
                {
                    <partial name="_Country" model="@country" />
                }
        </article>
        @if (Model.Tags is not null)
        {
            <div class="tags">
                @foreach (var tag in @Model.Tags)
                {
                    <span class="tag"><a href="@tag.Path">@tag.Name</a></span>
                }
            </div>
        }
        @if (@Model.Comments is not null)
        {
            <partial name="_Comments" model="@Model.Comments" />
        }
    </div>
}

