@using PoundPupLegacy.ViewModel.Models
@inherits CountryViewerBase<BindingCountry>
<CountryViewer Model="Model" Description="@Description">
    <div>
        <label>ISO 3166-1 code</label>
        @Model.ISO3166_1_Code
    </div>
    <div>
        <label>Region</label>
        <a href="@Model.GlobalRegion.Path">@Model.GlobalRegion.Title</a>
    </div>
    <div>
        @foreach (var boundCountry in Model.BoundCountries) {
            <label>Bound country</label>
            <a href="@boundCountry.Path">@boundCountry.Title</a>
        }
    </div>
</CountryViewer>
@code{
    [Parameter]
    [EditorRequired]
    public override BindingCountry Model { get; set; } = default!;

}

