@inherits SpecificNodeType
<HeadContentSetter Title=@Model.Title SiteName=@SiteName Description=@Description />
<LargeTextViewer Value="@Model.Description" />
<div class="details">
    <LabeledNullableFuzzyDateViewer Value="@Model.Date" Label="Incident date" />
    @if(Model is AbuseCase abuseCase) {
        <AbuseCaseViewer Model="@abuseCase" />
    }
    @if (Model is ChildTraffickingCase childTraffickingCase) {
        <ChildTraffickingCaseViewer Model="@childTraffickingCase" />
    }
    @if (Model is DeportationCase deportationCase) {
        <DeportationCaseViewer Model="@deportationCase" />
    }
</div>
<CasePartiesViewer Model="@Model.CaseParties" />
@code{
    [Parameter]
    [EditorRequired]
    public Case Model { get; set; } = default!;

    protected override string? Description => $"Detailed information about the case of {Model?.Title}";
}