<div class="article-with-comments">
    <div class="breadcrum">
        <span class="breadcrum-element">
            <a href="/home">home</a>
        </span>
    </div>

    <article>
        <div class="meeting">
            <h2>@Model.MeetingName</h2>
            <div>@Model.DateFrom.ToString("d MMMM yyyy") - @Model.DateTo.ToString("d MMMM yyyy")</div>
        </div>
        @foreach(var state in Model.States.OrderBy(x => x.State.Title)) 
        {
            <div class="state-representation">
                <h4><a href="@state.State.Path">@state.State.Title</a></h4>
                @foreach(var member in state.Members.OrderBy(x => x.Title)) 
                {
                    <div class="member-of-congress">
                        <img src="@member.FilePathPortrait" style="height:220px;width:auto"/>
                        <div>
                            <label>Name</label>
                            <div class="list-entries"><a href="@member.Path">@member.Title</a></div>
                            @if (member.Bills.Any())
                            {
                                <label>Bills sponsored</label>
                                <div class="list-entries">
                                @foreach (var bill in member.Bills)
                                {
                                    <div><a href="@bill.Path">@bill.Title</a></div>
                                }
                                </div>
                            }
                            @if (member.Letters.Any()) {
                                <label>Letters singed</label>
                                <div class="list-entries">
                                    @foreach (var letter in member.Letters) {
                                        <div><a href="@letter.Path">@letter.Title</a></div>
                                    }
                                </div>
                            }
                            @if (member.Terms.Any()) {
                                <label>Terms</label>
                                <div class="list-entries">
                                <table>
                                @foreach(var term in member.Terms.OrderBy(x => x.DateFrom)) {
                                    <tr>
                                        <td>@term.MemberType</td>
                                        <td><a href="@term.State.Path">@term.State.Title</a></td>
                                            <td>@term.DateFrom?.ToString("yyyy MMMM dd")</td>
                                            <td>@term.DateTo?.ToString("yyyy MMMM dd")</td>
                                    </tr>
                                }
                                </table>
                                </div>
                            }
                            @if (member.Parties.Any()) {
                                <label>Party affiliation</label>
                                <div class="list-entries">
                                <table>
                                    @foreach (var party in member.Parties.OrderBy(x => x.DateFrom)) {
                                        <tr>
                                            <td><a href="@party.Path">@party.Title</a></td>
                                            <td>@party.DateFrom?.ToString("yyyy MMMM dd")</td>
                                            <td>@party.DateTo?.ToString("yyyy MMMM dd")</td>
                                        </tr>
                                    }
                                </table>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </article>
</div>
@code {
    [Parameter]
    [EditorRequired]
    public required CongressionalMeetingChamber Model { get; init; }
}
