@inherits Viewer
@inject IFetchCountriesService FetchCountriesService
@if (Model is not null)
{
    <HeadContentSetter Title=@Title SiteName=@SiteName Description=@Description />
    <BreadCrumElementViewer Model="BreadCrumElements" />
    <article>
        @foreach (var entry in Model)
        {
            <ul>
                <li>
                    <a href="@entry.Path">@entry.Title</a>
                </li>
                @if (entry.Regions is not null)
                {
                    <li>
                        <ul>

                            @foreach (var region in entry.Regions)
                            {
                                <li>
                                    <a href="@region.Path">@region.Title</a>
                                </li>
                                @if (region.Countries is not null)
                                {
                                    <li>
                                        <ul>
                                            @foreach (var country in region.Countries)
                                            {
                                                <li>
                                                    <a href="@country.Path">@country.Title</a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                }
                @if (entry.Countries is not null)
                {
                    <ul>
                        @foreach (var country in entry.Countries)
                        {
                            <li>
                                <a href="@country.Path">@country.Title</a>
                            </li>
                        }
                    </ul>
                }
            </ul>
        }
    </article>
}
@code {

    private IEnumerable<FirstLevelRegionListEntry>? Model { get; set; }

    protected override string Title => $"{SiteName} | Countries";

    protected override string Description => "A page presenting all the countries in the world broken down by region";


    protected override async Task OnInitializedAsync()
    {
        Model = await FetchCountriesService.FetchCountries(TenantId);
    }
}
