<select name="@Name" @onchange="OnSelectItem" class="selection-item-selector">
    <option></option>
    @foreach (var selectionItem in SelectionItems) {
        if (selectionItem.Selected) {
            <option value="@selectionItem.Id" selected>@selectionItem.Name</option>
        }
        else {
            <option value="@selectionItem.Id">@selectionItem.Name</option>
        }
    }
</select>

@code {

    [Parameter]
    [EditorRequired]
    public required SelectionItem[] SelectionItems { get; init; }

    [Parameter]
    [EditorRequired]
    public required string Name { get; init; }

    [Parameter]
    [EditorRequired]
    public required Func<int, Task> OnSelect { get; init; }


    private async Task OnSelectItem(ChangeEventArgs changeEventArgs)
    {
        var value = changeEventArgs.Value?.ToString();
        if (value is null) {
            return;
        }
        if (int.TryParse(value, out int id)) {
            await OnSelect(id);
        }
    }
}
