@if (Model is not null && Model.Any())
{

    <h3>Persons</h3>
    <table class="person-organization-relations" style="width:100%;">
        <tr>
            <th>Person</th>
            <th>Relation type</th>
            <th>Date from</th>
            <th>Date to</th>
        </tr>
        @foreach (var relation in Model.OrderBy(x => x.RelationTypeName).ThenBy( x=> x.Person.Title))
        {
            <tr>
                <td><a href="@relation.Person.Path">@relation.Person.Title</a></td>
                <td>@relation.RelationTypeName</td>
                <td>@relation.DateFrom?.ToString("yyyy MMMM dd")</td>
                <td>@relation.DateTo?.ToString("yyyy MMMM dd")</td>
            </tr>
        }
    </table>
}
@code{
    [Parameter]
    [EditorRequired]
    public IEnumerable<PersonOrganizationRelation>? Model { get; set; }
}