
<div class="@className">
    @if (!ListEntry.HasBeenPublished) {
        <WaterMarkViewer />
    }
    <div class="title">
        <h2>
            <LinkViewer Link="ListEntry"  />
        </h2>
        <div class="tooltip publication-status-@ListEntry.PublicationStatusId">
            ⬤
            @if (@ListEntry.PublicationStatusId == 0) {
                <span class="tooltip-text">unpublished</span>
            }
            @if (@ListEntry.PublicationStatusId == 1) {
                <span class="tooltip-text">published</span>
            }
            @if (@ListEntry.PublicationStatusId == 2) {
                <span class="tooltip-text ">private</span>
            }
        </div>
    </div>
    @if (ListEntry is AuthoredTeaserListEntry authoredEntry) {
        <AuthoringViewer Model="@authoredEntry.Authoring" />
    }
    <div class="details">
    @if (ListEntry is NonSpecificCaseListEntry nonSpecificCaseListEntry) {
        <LabeledNonNullableStringViewer Label="Case type" Value="@nonSpecificCaseListEntry.CaseType" />
    }
    @if (ListEntry is CaseListEntry caseListEntry) {
        <LabeledNullableFuzzyDateViewer Label="Date" Value="caseListEntry.Date" />
    }
    </div>
    <LargeTextViewer Value="@ListEntry.Text" />
    @if (ListEntry is TaggedTeaserListEntry taggedEntry && taggedEntry.Tags is not null) {
        <TagsViewer Tags="taggedEntry.Tags" />
    }
    
</div>
@code {
    [Parameter]
    [EditorRequired]
    public TeaserListEntry ListEntry { get; set; } = default!;

    private string className => ListEntry.HasBeenPublished
        ? "teaser-list-element"
        : "teaser-list-element unpublished";
}
