<div class="chamber">
    <div>
        <label>@Label</label>
        <br />
        <img src="@Model.ImagePath" />
    </div>
    <div class="meetings">
        @foreach (var meeting in Model.Meetings.OrderByDescending(x => x.DateFrom)) {
            <a href="@meeting.Path">@meeting.Title</a>
            <div>@meeting.DateFrom.ToString("yyyy MMM dd") - @meeting.DateTo.ToString("yyyy MMM dd")</div>
        }
    </div>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public CongressionalChamber Model { get; set; } = default!;

    [Parameter]
    [EditorRequired]
    public string Label { get; set; } = string.Empty;

}
