@page
@using PoundPupLegacy.Services
@model LoginModel
@inject ISiteDataService SiteDataService

@{
    ViewData["Title"] = "Log in";
}
<div class="content">
    <div class="breadcrum">
        <span class="breadcrum-element">
            <a href="/">Home</a>
        </span>
    </div>
    <div class="page">
        <h1>@ViewData["Title"]</h1>
        <section>

            <p>
                @SiteDataService.GetTenant().Name uses only external identity providers for logging in.
            </p>
            <p>
                This makes our site more secure and easier to use. We do not store any passwords.
            </p>

            <h3>These are the supported identity providers</h3>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
