@page
@using PoundPupLegacy.Services
@model RegisterModel
@inject ISiteDataService SiteDataService
@{
    ViewData["Title"] = "Register";
}

<div class="content">
    <div class="breadcrum">
        <span class="breadcrum-element">
            <a href="/">Home</a>
        </span>
    </div>
    <div class="page">
        <h1>@ViewData["Title"]</h1>
        <section>
            <p>
                @SiteDataService.GetTenant().Name uses only external identity providers for logging in.
            </p>
            <p>
                This makes our site more secure and easier to use. <strong>We do not store any passwords</strong>.
            </p>
            <p>
                You will receive a confirmation email in your inbox. Please click the link in that email to confirm your registration. 
            </p>
            <p>
                The email may end up in your spam box. Please look there if you haven't received the email within a minute.'
            </p>
            <p>
                First time you log in, you will be asked to provide the user name you would like to be known by. We also ask you to explain briefly why you wanted to sign up for our site, so we can set your permissions that best meet your needs. Until an administrator has set your permissions, the site will behave the same as if you were not logged in.
            </p>
            @if(SiteDataService.GetTenant().RegistrationText is not null) {
                <p>
                    @Html.Raw(SiteDataService.GetTenant().RegistrationText)
                </p>
            }
            <h3>These are the supported identity providers</h3>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
