@typeparam TRelation where TRelation : InterOrganizationalRelation
@inherits EditorBase

<div class="relations-editor">
    <h4>Relations between this organization and another one</h4>
    @if (Relations.Any())
    {
        <div class="relations">
            <div class="grid-header first">From</div>
            <div class="grid-header">Type</div>
            <div class="grid-header">To</div>
            <div class="grid-header">Start</div>
            <div class="grid-header">End</div>
            <div class="grid-header"></div>
            <div class="grid-header"></div>
            @foreach(var relation in Relations) {
                var classString = relation.HasBeenDeleted ? "row deleted" : "row";
                <div class="@classString first">
                    @relation.OrganizationFromName
                </div>
                <div class="@classString">
                    @relation.InterOrganizationalRelationType.Name
                </div>
                <div class="@classString">
                    @relation.OrganizationToName
                </div>
                <div class="@classString">
                    @relation.DateFrom
                </div>
                <div class="@classString">
                    @relation.DateTo
                </div>
                <div class="@classString">
                    @if (!relation.HasBeenDeleted)
                    {
                        <button type="button" @onclick="() => Edit(relation)">edit</button>
                    }
                </div>
                <div class="@classString">
                    @if (relation.HasBeenDeleted) {
                        <button type="button" @onclick="() => RestoreRelation(relation)">restore</button>
                    }
                    else {
                        <button type="button" @onclick="() => RemoveRelation(relation)">remove</button>
                    }
                </div>

            }
        </div>
    }        
    <button type="button" @onclick="Add">Add</button>
</div>
@code {
    [Parameter]
    [EditorRequired]
    public List<TRelation> Relations { get; set; } = default!;

    [Parameter]
    [EditorRequired]
    public Action<TRelation> Edit { get; set; } = default!;

    [Parameter]
    [EditorRequired]
    public Action Add { get; set; } = default!;

    
    public override async Task Validate(ValidationMessageStore validationMessageStore, List<string> invalidIds)
    {
        await Task.CompletedTask;
    }
    public override void OnTitleChange(string title)
    {
        foreach (var relation in Relations) {
            relation.SetName(title);
        }
    }
    private void RestoreRelation(InterOrganizationalRelation relation)
    {
        relation.HasBeenDeleted = false;
        StateHasChanged();
    }

    private void RemoveRelation(InterOrganizationalRelation relation)
    {
        relation.HasBeenDeleted = true;
        StateHasChanged();
    }
}
