@inherits EditorBase
@if (_relationToEdit is not null) {
    <ModalDialog 
        Title="Add party political entity relation" 
        Id="party-political-relation-dialog" 
        OnOk="OnOk" 
        OnCancel="OnCancel">
        <DialogContent>
            <PartyPoliticalEntityRelationEditorDialog  
                @bind-Relation="_relationToEdit" 
                RelationTypes="@RelationTypes"/>
        </DialogContent>
    </ModalDialog>
}

<div class="relations">
    <div class="header first">From</div>
    <div class="header">Type</div>
    <div class="header">To</div>
    <div class="header">Start</div>
    <div class="header">End</div>
    <div class="header"></div>
    @foreach(var relation in Relations) {
        <div class="row first">
            @relation.Party.Name
        </div>
        <div class="row">
            @relation.PartyPoliticalEntityRelationType.Name
        </div>
        <div class="row">
            @relation.PoliticalEntity.Name
        </div>
        <div class="row">
            @relation.DateFrom
        </div>
        <div class="row">
            @relation.DateTo
        </div>
        <div class="row">
            <button type="button" @onclick="() => EditRelation(relation)">edit</button>
        </div>
    }
</div>
@code {
    [Parameter]
    [EditorRequired]
    public List<PartyPoliticalEntityRelation> Relations { get; set; } = default!;

    [Parameter]
    [EditorRequired]
    public List<PartyPoliticalEntityRelationTypeListItem> RelationTypes { get; set; } = default!;

    private PartyPoliticalEntityRelation? _relationToEdit = null;

    public override async Task Validate(ValidationMessageStore validationMessageStore, List<string> invalidIds)
    {
        await Task.CompletedTask;
    }
    private void EditRelation(PartyPoliticalEntityRelation relationToEdit)
    {
        _relationToEdit = relationToEdit;
        StateHasChanged();
    }
    private void OnOk()
    {
        _relationToEdit = null;
        StateHasChanged();
    }
    private void OnCancel()
    {
        _relationToEdit = null;
        StateHasChanged();
    }
}
