@inherits EditorBase
@if (_relationToEdit is not null) {
    <ModalDialog 
        Title="Add person-organization relation" 
        Id="party-person-organization-dialog" 
        OnOk="OnOk" 
        OnCancel="OnCancel">
        <DialogContent>
            <PersonOrganizationRelationEditorDialog 
                IsPersonLeading = "IsPersonLeading"
                @bind-Relation="_relationToEdit" 
                RelationTypes="@RelationTypes"/>
        </DialogContent>
    </ModalDialog>
}

<div class="relations">
    <div class="header first">From</div>
    <div class="header">Type</div>
    <div class="header">To</div>
    <div class="header">Start</div>
    <div class="header">End</div>
    <div class="header"></div>
    @foreach(var relation in Relations) {
        <div class="row first">
            @relation.Person.Name
        </div>
        <div class="row">
            @relation.PersonOrganizationRelationType.Name
        </div>
        <div class="row">
            @relation.Organization.Name
        </div>
        <div class="row">
            @relation.DateFrom
        </div>
        <div class="row">
            @relation.DateTo
        </div>
        <div class="row">
            <button type="button" @onclick="() => EditRelation(relation)">edit</button>
        </div>
    }
</div>
@code {
    [Parameter]
    [EditorRequired]
    public List<PersonOrganizationRelation> Relations { get; set; } = default!;

    [Parameter]
    [EditorRequired]
    public List<PersonOrganizationRelationTypeListItem> RelationTypes { get; set; } = default!;
    [Parameter]
    [EditorRequired]
    public bool IsPersonLeading { get; set; } 

    private PersonOrganizationRelation? _relationToEdit = null;

    public override async Task Validate(ValidationMessageStore validationMessageStore, List<string> invalidIds)
    {
        await Task.CompletedTask;
    }
    public override void OnTitleChange(string title)
    {

    }

    private void EditRelation(PersonOrganizationRelation relationToEdit)
    {
        _relationToEdit = relationToEdit;
        StateHasChanged();
    }
    private void OnOk()
    {
        _relationToEdit = null;
        StateHasChanged();
    }
    private void OnCancel()
    {
        _relationToEdit = null;
        StateHasChanged();
    }
}
