@inherits EditorDetailBase
@if (_relationToEdit is not null) {
    <ModalDialog 
        Title="Add person-organization relation" 
        Id="party-person-organization-dialog" 
        OnOk="OnOk" 
        OnCancel="OnCancel">
        <DialogContent>
            <PersonOrganizationRelationEditorForPersonDialog 
                Relation="_relationToEdit" 
                RelationTypes="@RelationTypes"
                @ref=dialog/>
        </DialogContent>
    </ModalDialog>
}
<div class="relations-editor">
    <h4>Relations between this person and an organization</h4>
    @if (Relations.Any())
    {
        <div class="relations">
            <div class="grid-header first">From</div>
            <div class="grid-header">Type</div>
            <div class="grid-header">To</div>
            <div class="grid-header">Start</div>
            <div class="grid-header">End</div>
            <div class="grid-header"></div>
            <div class="grid-header"></div>
            @foreach(var relation in Relations) {
                var classString = relation.RelationDetails.HasBeenDeleted ? "row deleted" : "row";
                <div class="@classString first">
                    @relation.PersonName
                </div>
                <div class="@classString">
                    @relation.PersonOrganizationRelationType.Name
                </div>
                <div class="@classString">
                    @relation.OrganizationName
                </div>
                <div class="@classString">
                    @relation.RelationDetails.DateFrom?.ToString("yyyy MMM dd")
                </div>
                <div class="@classString">
                    @relation.RelationDetails.DateTo?.ToString("yyyy MMM dd")
                </div>
                <div class="@classString">
                    @if (!relation.RelationDetails.HasBeenDeleted) {
                        <button type="button" @onclick="() => EditRelation(relation)">edit</button>
                    }
                </div>
                <div class="@classString">
                    @if (relation.RelationDetails.HasBeenDeleted) {
                        <button type="button" @onclick="() => RestoreRelation(relation)">restore</button>
                    }
                    else {
                        <button type="button" @onclick="() => RemoveRelation(relation)">remove</button>
                    }
                </div>
            }
        </div>
    }
    <button type="button" @onclick="OnAdd">Add</button>
</div>
@code {
    [Parameter]
    public List<PersonOrganizationRelation.ForPerson.Complete> Relations { get; set; } = default!;

    [Parameter]
    public EventCallback<List<PersonOrganizationRelation.ForPerson.Complete>> RelationsChanged { get; set; }

    [Parameter]
    [EditorRequired]
    public List<PersonOrganizationRelationTypeListItem> RelationTypes { get; set; } = default!;

    [Parameter]
    [EditorRequired]
    public PersonItem Person { get; set; } = default!;

    [Parameter]
    [EditorRequired]
    public List<TenantDetails> Tenants { get; set; } = default!;

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        if (RelationTypes is null) {
            await base.SetParametersAsync(parameters);
        }
    }


    private PersonOrganizationRelationEditorForPersonDialog? dialog;

    private PersonOrganizationRelation.ForPerson? _relationToEdit = null;

    public override async Task<List<System.ComponentModel.DataAnnotations.ValidationResult>> Validate()
    {
        return await Task.FromResult(new List<System.ComponentModel.DataAnnotations.ValidationResult>());
    }
    public override void OnTitleChange(string title)
    {

    }
    private void RestoreRelation(PersonOrganizationRelation.ForPerson relation)
    {
        relation.RelationDetails.HasBeenDeleted = false;
        StateHasChanged();
    }

    private void RemoveRelation(PersonOrganizationRelation.ForPerson relation)
    {
        relation.RelationDetails.HasBeenDeleted = true;
        StateHasChanged();
    }

    private void EditRelation(PersonOrganizationRelation.ForPerson.Complete relationToEdit)
    {
        _relationToEdit = relationToEdit;
        StateHasChanged();
    }
    private void OnOk()
    {
        if (dialog is not null) {
            var relation = dialog.GetValidRelation();
            if (relation is null)
                return;
            if(_relationToEdit is PersonOrganizationRelation.ForPerson.Complete rc) {
                Relations.Remove(rc);
            }
            Relations.Add(relation);
        }
        _relationToEdit = null;
        StateHasChanged();
    }
    private void OnCancel()
    {
        _relationToEdit = null;
        StateHasChanged();
    }
    private void OnAdd()
    {
        _relationToEdit = Person.Match<PersonOrganizationRelation.ForPerson>(
            personListItem: pli => pli.GetPersonOrganizationRelationForPerson(RelationTypes.First(), TenantId, UserId, Tenants),
            personName: pn => pn.GetPersonOrganizationRelationForPerson(RelationTypes.First(), TenantId, UserId, Tenants));
        StateHasChanged();
    }

}
