@inherits EditorBase

@if (Model is not null) {
    <div class="tenant-node-editor" >
        <h4>Publications</h4>
        @if (Model.Any()) {
            <div class="tenant-nodes">
                <div class="grid-header"></div>
                <div class="grid-header">
                    Tenant
                </div>
                <div class="grid-header">
                    Path
                </div>
                <div class="grid-header">
                    Publication status
                </div>
                <div class="grid-header">
                    Subgroup
                </div>
                @foreach (var tenant in Model) {
                    @if(tenant.TenantNode is not null && !tenant.TenantNode.HasBeenDeleted)
                    {
                        var publicationStatuses = tenant.Subgroups.Any() && tenant.TenantNode.SubgroupId.HasValue
                            ? tenant.Subgroups.First(x => x.Id == tenant.TenantNode.SubgroupId.Value).PublicationStatuses
                            : tenant.PublicationStatuses;
                        if (tenant.TenantNode.CanBeUnchecked)
                        {
                            <input class="item" type="checkbox" name="tenant-@tenant.Id" checked @onclick="() => Uncheck(tenant.Id)" />
                        }
                        else {
                            <input class="item" type="checkbox" name="tenant-@tenant.Id" checked disabled />
                        }
                        <div class="item domain-name">@tenant.DomainName</div>
                        <div class="item">
                            <input type="text" value="@tenant.TenantNode!.UrlPath"/>
                        </div>
                        <div class="item">
                            <select @onchange="(e) => OnSelectPublicationStatus(tenant.Id, e)">
                            @foreach(var option in publicationStatuses) 
                            {
                                @if(option.Id == tenant.TenantNode.PublicationStatusId) 
                                {
                                    <option selected value="@option.Id">@option.Name</option>
                                }
                                else
                                {
                                    <option value="@option.Id">@option.Name</option>
                                }
                            }
                            </select>
                        </div>
                        <div class="item">
                            @if (tenant.Subgroups.Any()) 
                            {
                                <select @onchange="(e) => OnSelectSubgroup(tenant.Id, e)">
                                <option value=""></option>
                                @foreach(var subgroup in tenant.Subgroups) 
                                {
                                    @if(subgroup.IsSelected) 
                                    {
                                        <option selected value="@subgroup.Id">@subgroup.Name</option>
                                    }else
                                    {
                                        <option value="@subgroup.Id">@subgroup.Name</option>
                                    }
                                }
                                </select>
                            }
                        </div>
                    }
                    else 
                    {
                        <input class="item" type="checkbox" name="tenant-@tenant.Id" @onclick="() => Check(tenant.Id)" />
                        <div class="item">@tenant.DomainName</div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                    }
                }
            </div>
        }
    </div>
}
@code {
    [Parameter]
    [EditorRequired]
    public List<Tenant> Model { get; set; } = default!;

    [Parameter]
    public EventCallback<List<Tenant>> ModelChanged { get; set; } = default!;

    [Parameter]
    [EditorRequired]
    public bool ForCreate { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await Task.CompletedTask;
        if(ForCreate){
            Check(Tenant.Id);
        }
    }

    private void Uncheck(int tenantId)
    {
        if(Model is not null)
        {
            var tenant = Model.First(x => x.Id == tenantId);
            if(tenant.TenantNode is null) {
                throw new NullReferenceException("Tenant Node should not be null");
            }
            switch (tenant.TenantNode) {
                case TenantNode.ToUpdate existingTenantNode:
                    tenant.TenantNode.HasBeenDeleted = true;
                    break;
                case TenantNode.ToCreateForExistingNode newTenantNodeForExistingNode:
                    tenant.TenantNode = null;
                    break;
                case TenantNode.ToCreateForNewNode newTenantNodeForNewNode:
                    tenant.TenantNode = null;
                    break;

            }

            tenant.TenantNode = null;
            StateHasChanged();
        }
    }
    private void Check(int tenantId)
    {
        if (Model is not null) {
            var tenant = Model.First(x => x.Id == tenantId);
            switch (tenant.TenantNode)
            {
                case TenantNode.ToUpdate existingTenantNode:
                    tenant.TenantNode.HasBeenDeleted = false;
                    break;
                case TenantNode.ToCreateForExistingNode newTenantNodeForExistingNode:
                    var tenantNode = new TenantNode.ToCreateForExistingNode
                        {
                            TenantId = tenantId,
                            HasBeenDeleted = false,
                            PublicationStatusId = tenant.PublicationStatuses.First(x => x.IsDefault).Id,
                            NodeId = newTenantNodeForExistingNode.NodeId,
                            UrlId = newTenantNodeForExistingNode.NodeId,
                            UrlPath = null,
                            SubgroupId = null,
                            CanBeUnchecked = true,
                            HasBeenStored = false
                        };
                    tenant.TenantNode = tenantNode;
                    break;
                default:
                    if (ForCreate) { 
                        var publicationStatuses = SubgroupId.HasValue
                            ? tenant.Subgroups.First(x => x.Id == SubgroupId.Value).PublicationStatuses
                            : tenant.PublicationStatuses;
                        if (SubgroupId.HasValue) {
                            tenant.Subgroups.First(x => x.Id == SubgroupId.Value).IsSelected = true;
                        }
                        var newTenantNode = new TenantNode.ToCreateForNewNode
                            {
                                TenantId = tenantId,
                                HasBeenDeleted = false,
                                PublicationStatusId = publicationStatuses.First(x => x.IsDefault).Id,
                                UrlPath = null,
                                SubgroupId = SubgroupId,
                                CanBeUnchecked = tenantId != Tenant.Id,
                                HasBeenStored = false
                            };
                        tenant.TenantNode = newTenantNode;
                    }
                    else {
                        var nodeId = NodeId!.Value;
                        var newTenantNode = new TenantNode.ToCreateForExistingNode {
                                TenantId = tenantId,
                                HasBeenDeleted = false,
                                PublicationStatusId = tenant.PublicationStatuses.First(x => x.IsDefault).Id,
                                UrlId = nodeId,
                                NodeId = nodeId,
                                UrlPath = null,
                                SubgroupId = null,
                                CanBeUnchecked = tenantId != Tenant.Id,
                                HasBeenStored = false
                            };
                        tenant.TenantNode = newTenantNode;
                    }

                    break;
            }
            StateHasChanged();
        }

    }
    private void SetSubgroup(int tenantId, int? subgroupId)
    {
        if (Model is not null) {
            var tenant = Model.First(x => x.Id == tenantId);
            if(tenant.TenantNode is not null) {
                tenant.TenantNode.SubgroupId = subgroupId;
                if (subgroupId.HasValue) {
                    var subgroup = tenant.Subgroups.First(x => x.Id == subgroupId.Value);
                    tenant.TenantNode.PublicationStatusId = subgroup.PublicationStatuses.First(x => x.IsDefault).Id;
                }
                else {
                    tenant.TenantNode.PublicationStatusId = tenant.PublicationStatuses.First(x => x.IsDefault).Id;
                }
            }
            StateHasChanged();
        }
    }
    private void SetPublicationStatus(int tenantId, int publicationStatusId)
    {
        if (Model is not null) {
            var tenant = Model.First(x => x.Id == tenantId);
            if (tenant.TenantNode is not null) {
                tenant.TenantNode.PublicationStatusId = publicationStatusId;
                var sg = tenant.Subgroups.FirstOrDefault(x => x.Id == tenant.TenantNode.SubgroupId);
            }
            StateHasChanged();
        }
    }
    void OnSelectSubgroup(int tenantId, ChangeEventArgs e)
    {
        if(int.TryParse(e.Value!.ToString(), out int subgroupId)){
            SetSubgroup(tenantId, subgroupId);
        }
        else {
            SetSubgroup(tenantId, null);
        }

    }
    void OnSelectPublicationStatus(int tenantId, ChangeEventArgs e)
    {
        if (int.TryParse(e.Value!.ToString(), out int publicationStatusId)) {
            SetPublicationStatus(tenantId, publicationStatusId);
        }
    }
}
